##
## Velocity Template for Duo login view-state
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## authenticationContext - context with authentication request information
## rpUIContext - the context with SP UI information from the metadata
## canonicalUsername - name of user passed to Duo
## duoHost - API hostname for Duo frame
## duoRequest - signed Duo request message
## duoScriptPath - path to Duo JavaScript source
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
#macro( pageSpecificHeadDuo )    
      <style>
        #duo_iframe {
          width: 100%;
          min-width: 304px;
          max-width: 620px;
          height: 330px;
        }
      </style>
#end
#set( $pageSpecificHead = "#pageSpecificHeadDuo()")
##
#parse("header.vm")

        <div class="content">
          <div class="column one">
          
            <h3>#springMessageText("idp.login.duoRequired", "Authentication with Duo is required for the requested service.")</h3>

            <noscript>#springMessageText("idp.login.duoNoScript", "The Duo service requires JavaScript.")</noscript>          
            <script src="$request.getContextPath()$duoScriptPath"></script>
            <iframe id="duo_iframe"
                data-host="$duoHost"
                data-sig-request="$duoRequest"
                data-post-action="$flowExecutionUrl"
                frameborder="0"
            >
            </iframe>
            <form id="duo_form" method="post">
                <input type="hidden" name="_eventId" value="proceed" />
            </form>
            
            <h3 style="text-align: center">
                <a href="$flowExecutionUrl&_eventId=cancel">#springMessageText("idp.login.duoCancel", "Cancel this Request")</a>
            </h3>
          </div>
          <div class="column two">
            <ul class="list list-help">
              <li class="list-help-item"><a href="#springMessageText("idp.url.helpdesk", "#")"><span class="item-marker">&rsaquo;</span> #springMessageText("idp.login.needHelp", "Need Help?")</a></li>
            </ul>
          </div>
        </div>
      </div>

#parse("footer.vm")