##
## Velocity Template for expiring password view
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## authenticationContext - context with authentication request information
## authenticationErrorContext - context with login error state
## authenticationWarningContext - context with login warning state
## ldapResponseContext - context with LDAP state (if using native LDAP)
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
#set( pageSpecificHead = "<meta http-equiv=""refresh"" content=""20;url=$flowExecutionUrl&_eventId_proceed=1"">")
##    
#set( $pageSpecificHeader = "<h3>#springMessageText(""idp.login.expiringSoon", ""Your password will be expiring soon!"")</h3>")"
##
#parse("header.vm")
        
            <div class="content">
                <p>#springMessageText("idp.login.changePassword", "To create a new password now, go to")
                <strong><a href="#" target="_blank">#</a></strong>.</p>
                <p>#springMessageText("idp.login.proceedBegin", "Your login will proceed in 20 seconds or you may click")
                <strong><a href="$flowExecutionUrl&_eventId_proceed=1">#springMessageText("idp.login.proceedHere", "here")</a></strong>
                #springMessageText("idp.login.proceedEnd", "to continue").</p>
            </div>
        </div>

#parse("footer.vm")
