/*
 * Default colors
 */
/*
 * General styles
 */
* {
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

header, footer, section, nav {
  display: block; }

html, body {
  height: 100%; }

html {
  font-size: 62.5%; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.65rem;
  /* =14px */
  line-height: 1.5;
  color: #717171;
  background: white; }

a:link,
a:visited {
  text-decoration: none;
  color: black; }

img {
  max-width: 100%; }

.wrapper {
  background-color: white; }

.container {
  position: relative;
  width: 580px;
  margin: 50px auto; }

.container-footer {
  padding-top: 12px; }

header {
  padding: 10px 20px 0;
  background-color: #00609c;
  color: black;
  border-bottom: 3px solid white;
  font-size: 2rem;
  font-weight: 400; }
  header h1 {
    display: inline-block;
    margin-top: 15px;
    margin-left: 50px; }
  header h3 {
    margin-left: 160px; }

.logo {
  margin-left: 0px;
  margin-top: 0px;
  max-width: 275px;
  float: left; }
  .logo img {
    border: none; }

@media only screen and (max-width: 650px) {
  header h1 {
    margin-left: 0; }

  .container {
    position: static;
    margin: 0 auto;
    width: 100%; }
    .container .column.one h2 {
      margin-bottom: 1em; }

  footer {
    padding: 0 20px; } }
.content {
  padding: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.35); }

.column.one h2 {
  color: #00609c;
  margin-bottom: 1.5em; }
.column.one > ul {
  margin-left: 3em;
  margin-bottom: 2em; }

form {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #F8F8F8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }
  form h2 {
    color: #00609c;
    font-size: 2px; }
  form label {
    font-weight: bold;
    display: none; }
  form legend {
    font-size: 1.2em;
    margin-bottom: 12px; }
  form ol {
    list-style: none; }
    form ol li {
      list-style: none; }
  form input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  form input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  form .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  form .inner-addon {
    position: relative; }
  form .inner-addon .glyphicon {
    position: absolute;
    padding: 14px;
    pointer-events: none;
    z-index: 3; }

/*

.form-element-wrapper {
  margin-bottom: 12px;
}
.form-element {
  width: 100%;
  padding: 13px 12px;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.form-field {
  color: #B7B7B7;
  border: 1px solid #B7B7B7;
}
.form-field-focus {
  color: #333333;
  border-color: #333;
}
.form-button {
  background: #B61601;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  color: #ffffff;
  cursor: pointer;
}
.form-button:hover {
  background: #FF6400;
}
.form-error {
  padding: 0;
  color: #B61601;
}
*/
.list-help {
  list-style: none; }

li.list-help-item {
  padding-left: 0; }

.list-help-item a {
  display: block;
  padding: 6px 0; }

.item-marker {
  color: #be0000; }

li.success, li.failure {
  list-style: none;
  margin-top: 1em; }

#attributeRelease-consent {
  border: solid 1px #666;
  background-color: #F0F0F0;
  overflow: hidden; }

#attributeReleaseHeader {
  color: black;
  font-weight: 600;
  border-bottom: 2px solid black;
  margin-bottom: 1rem; }

#attributeRelease {
  margin-bottom: 2rem;
  border: solid 1px black;
  overflow: hidden; }
  #attributeRelease table {
    border-collapse: collapse;
    border: none 0px white;
    width: 100%; }
  #attributeRelease td {
    padding: 3px 7px;
    vertical-align: top; }
  #attributeRelease th {
    text-align: left;
    font-size: 1.25rem;
    padding: 5px 7px;
    background-color: #ffffff;
    color: #717171; }
  #attributeRelease tr:nth-of-type(even) {
    background-color: #E4E5E3; }

#generalConsentDiv {
  background-color: #F6F6F6;
  border: 1px gray solid;
  margin-bottom: 2em;
  padding: 10px; }
  #generalConsentDiv h3 {
    margin-bottom: 2rem;
    color: black;
    font-weight: 700; }
  #generalConsentDiv #optionsWrapper {
    padding-left: 30px; }
    #generalConsentDiv #optionsWrapper > div {
      margin-bottom: 2rem; }
    #generalConsentDiv #optionsWrapper input[type="radio"] {
      margin-left: -25px;
      margin-right: 5px; }
  #generalConsentDiv label {
    text-align: left;
    width: auto; }

footer {
  color: #ffffff;
  font-size: 11px;
  background: #717171; }

.footer-text {
  margin-bottom: 12px; }

.footer-links a:link,
.footer-links a:visited {
  color: #ffffff;
  font-weight: bold; }

.footer-links a:after {
  content: "\00a0\00a0\00a0|\00a0\00a0"; }

.footer-links a.last:after {
  content: ""; }

/* Mobile first queries */
/* Larger than mobile */
/* Larger than phablet */
/* Larger than tablet */
@media (min-width: 750px) {
  body {
    font-size: 1.4rem; } }
/* Larger than desktop */
/* Larger than Desktop HD */

/*# sourceMappingURL=main-TC.css.map */
