/*
 * Default colors
 */
/*
 * General styles
 */
.wrapper {
  margin-top: 200px;
  margin-bottom: 80px; }

.logo {
  margin-left: 0px;
  margin-top: 0px;
  max-width: 275px;
  float: left; }

form {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #F8F8F8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }
  form h2 {
    color: #00609c;
    font-size: 200%; }
  form label {
    font-weight: bold;
    display: none; }
  form legend {
    font-size: 1.2em;
    margin-bottom: 12px; }
  form ol {
    list-style: none; }
    form ol li {
      list-style: none; }
  form input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  form input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  form .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  form .inner-addon {
    position: relative; }
  form .inner-addon .glyphicon {
    position: absolute;
    padding: 14px;
    pointer-events: none;
    z-index: 3; }

/*

.form-element-wrapper {
  margin-bottom: 12px;
}
.form-element {
  width: 100%;
  padding: 13px 12px;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.form-field {
  color: #B7B7B7;
  border: 1px solid #B7B7B7;
}
.form-field-focus {
  color: #333333;
  border-color: #333;
}
.form-button {
  background: #B61601;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  color: #ffffff;
  cursor: pointer;
}
.form-button:hover {
  background: #FF6400;
}
.form-error {
  padding: 0;
  color: #B61601;
}
*/
footer {
  text-align: center; }
  footer p.navbar-text {
    float: none; }

/*
.footer-text {
  margin-bottom: 12px;
}
.footer-links a:link,
.footer-links a:visited {
  color: #ffffff;
  font-weight: bold;
}
.footer-links a:after {
  content: "\00a0\00a0\00a0|\00a0\00a0";
}
.footer-links a.last:after {
  content: "";
}
*/

/*# sourceMappingURL=main.css.map */
