#attributeRelease-consent {
  border: solid 1px #666;
  background-color: #F0F0F0;
  overflow: hidden;
}


#attributeReleaseHeader {
  color: red;
  font-weight: 600;
  border-bottom: 2px solid red;
  margin-bottom: 1rem;
}

#attributeRelease {
  margin-bottom: 2rem;
  border: solid 1px black;
  overflow: hidden;


  table {
    border-collapse: collapse;
    border: none 0px white;
    width: 100%;
  }

  td {
    padding: 3px 7px;
    vertical-align: top;
  }

  th  {
    text-align: left;
    font-size: 1.25rem;
    padding: 5px 7px;
    background-color: $light-gray;
    color: $black;
  }

  tr:nth-of-type(even) {
    background-color: #E4E5E3;
  }

}

#generalConsentDiv {
  background-color: #F6F6F6;
  border: 1px gray solid;
  margin-bottom: 2em;
  padding: 10px;

  h3 {
    margin-bottom: 2rem;
    color: midnightblue;
    font-weight: 700;
  }

  #optionsWrapper {
    padding-left: 30px;

    >div {
      margin-bottom: 2rem;
    }

    input[type="radio"] {
      margin-left: -25px;
      margin-right: 5px;
    }

    label {

    }
  }

  label {
    text-align: left;
    width: auto;
  }
}

