
footer {
    color: $footer-text-color;
    font-size: 1.1rem;
    background: $footer-background-color;

    .container {}
}

.footer-text {
    margin-bottom: 12px;
}

.footer-links a:link,
.footer-links a:visited {
    color: $footer-link-color;
    font-weight: bold;
}

.footer-links a:after {
    content: "\00a0\00a0\00a0|\00a0\00a0";
}

.footer-links a.last:after {
    content: "";
}