form {
  padding-bottom: 21px;

  p {
    margin-bottom: 1rem;
  }

  label {
    display: inline-block;
    line-height: 1.8;
    width: 150px;
    text-align: right;
    margin-right: 10px;
  }

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    list-style: none;
    padding: 5px;
    margin: 0;
  }
  em {
    font-weight: bold;
    font-style: normal;
    color: #f00;
  }

  .checkbox-wrapper {
      display: block;
      margin: 5px 0;
      margin-left: 185px;

    input[type='checkbox']{margin-left:-18px;}

  }
}

.testForm {
  label {width: 100%; height: 30px; display:inline-block;}
  input {
    display: inline-block;
    margin-left: 20px;
  }
}

.form-element-wrapper {
  margin-bottom: 12px;
}

.form-element {
  width: 250px;
  padding: 5px;
  border: none;
  font-size: 1.4rem;
}

.form-field {
  color: #B7B7B7;
  border: 1px solid #B7B7B7;
}

.form-field-focus {
  color: #333333;
  border-color: #333;
}

button {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  cursor: pointer;
  border: $form-button-border;
  border-radius: 5px;
  width: auto;
  padding: 5px 20px;
}

.form-button {
  background: $form-button-background-color;
  color: $form-button-text-color;

  &:hover {
    background: $form-button-background-hover-color;
  }
}
.form-cancel {
  background: $form-cancel-button-background-color;
  color: $form-cancel-button-text-color;

  &:hover {
    background: $form-cancel-button-background-hover-color;
  }
}

.form-error {
  padding: 0;
  color: #B61601;
  margin-bottom: 20px;
  width: auto;
}

@media only screen and (max-width: 650px) {
  form {
    label {
      width: auto;
    }
    .form-field {
      width: 95%;
    }
    .form-error {
      margin-bottom: 0;
    }
    .checkbox-wrapper {
      margin-left: 20px;
    }
    .form-button {
      background: $light-gray;
      color: $white;
      margin-bottom: 1em;
      display: block;
      width: 100%;
      padding: 10px 0;
    }
  }
}