//$font-primary: 'Roboto', sans-serif;
//$font-secondary: Arial, Helvetica, sans-serif;

$base-font-size: 62.5%;

$primary-color: #ffffff;
$secondary-color: #717171;

// Useful colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$dark-gray: lighten($black, 25%);
$medium-gray: lighten($black, 50%);
$light-gray: lighten($black, 75%);


/*
 * General styles
 */

$link-color: blue;

$form-button-background-color: $light-gray;
$form-button-background-hover-color: darken($light-gray, 5%);
$form-button-text-color: #ffffff;
$form-button-border: none;

$form-cancel-button-background-color: $light-gray;
$form-cancel-button-background-hover-color: $medium-gray;
$form-cancel-button-text-color: $black;
$form-cancel-button-text-hover-color: $black;
$form-cancel-button-border: 1px solid $black;


$body-background-color: $white;
$wrapper-background-color: $white;

$header-background-color: $white;
$header-text-color: $dark-gray;
$header-border-color: $black;


$footer-background-color: $white;
$footer-text-color: $dark-gray;
$footer-link-color: $link-color;


